name: Build and Release C++ Project (Makefile)

on:
  push:
    branches: [ master ]
    tags:
      - "v*"

  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout the source code
      - name: Checkout repository
        uses: actions/checkout@v5

      # 2. Install compiler & tools
      - name: Install g++
        run: sudo apt-get update && sudo apt-get install -y g++ make

      # 3. Build the project using your Makefile
      - name: Build with Makefile
        run: make

      # 4. Run the program (optional)
      - name: Run program
        run: make run

      # 5. Upload compiled binary as artifact
      - name: Upload built executable
        uses: actions/upload-artifact@v6
        with:
          name: cpp-build-output
          path: output/*

  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: cpp-build-output
          path: release-files

      # Create a GitHub Release
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: release-files/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
